
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.root{
  position: absolute;
  left: 30%;
  top: 30%;
  color: red;
  font-size: 100px;
  animation: rotating 2s linear infinite;
}