html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

* {
  margin:0;
  padding:0;
}

body {
  font: 100% $main-font-name;
}


button, a {
  cursor: pointer;
  outline:none;
}

.-clear:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}